.home-content {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    overflow-y: auto;
}

.home-content::-webkit-scrollbar {
    width: 2px;
}

.home-content::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 10px;
}

.home-content::-webkit-scrollbar-track {
    background: transparent;
}

.home-content::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.home-content .navigation {
    width: 100%;
}

.home-content .jobs-grid {
    margin-top: 20px;
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.home-content .jobs-list {
    margin-top: 20px;
}

@media screen and (max-width: 568px) {
    .home-content {
        margin-left: 0;
        margin: 0 10px;
    }
}
