.list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 5px;
}

.list-container .icons {
    display: flex;
    align-items: center;
}
